version: "3.7"
services:
  postgres:
    container_name: postgres
    restart: always
    image: postgres:10
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - flask-app-db:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  app:
    container_name: app
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - FLASK_ENV=docker
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
      - WERKZEUG_DEBUG_PIN=off
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    depends_on:
      - postgres
    entrypoint:
      - /app/scripts/docker_start.sh

volumes:
  flask-app-db:
    name: flask-app-db
