{% from 'macros/form_elements.html' import render_input_field, render_passcode_field %}

{% extends "modal.html" %}

{% block modal_title %}Create User{% endblock %}

{% block modal_body %}

  {{ render_input_field(form.user_name )}}
  {{ render_input_field(form.name )}}
  {{ render_input_field(form.catch_phrase )}}

  <div class="row align-items-center">
    <div class="col col-5">
        {{ form.passcode.label }}*
    </div>
    <div class="col">
      {{ render_passcode_field(form.passcode) }}
    </div>
  </div>
{% endblock %}

{% block submit_btn %}Create User{% endblock %}

