{% extends "guessing_game/base.html" %}

{% block guessing_game_content %}
    <h2>{{ game.name }}</h2>
  <div class="pt-3 text-center">
    This is the game

    <form method="POST" action="{{ url_for('.guess_entity', game_id=game.hashed_id) }}" autocomplete="off">
      {{ guessing_form.hidden_tag() }}
      <div class="ui-widget">
        <input id="city">
        <div class="d-none">
          {{ guessing_form.entity_id }}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Guess!</button>
    </form>

  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>
    $( "#city" ).autocomplete({
      source: "{{ url_for('guessing-game.entity_autocomplete', game_id=game.hashed_id)}}",
      minLength: 3,
      select: function( event, ui ) {
        console.log( ui.item );
        $('#{{ guessing_form.entity_id.id }}').val(ui.item.id)
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });
  </script>

{% endblock %}

