{% extends "base.html" %}

{% block content %}
    <div class="m-3">
        {% block salad_bowl_content %}{% endblock %}
    </div>
{% endblock %}

{% block nav_bar_right %}
    {% if g.current_player %}
        <div class="text-white">
            <img src="/static/img/investigator_murray.jpg" class="img-fluid rounded-circle" style="width:40px;height: 40px;">
            <span class="align-middle">
                {{ g.current_player.name}}
            </span>
        </div>
    {% else %}
        <div>
            <a class="btn btn-primary float-right" data-modal-url="/yummy/create_player/" href='#'>
                Create Player
            </a>
        </div>
    {% endif %}
{% endblock %}


{% block scripts %}
  {{ super() }}

  <script>
    {% if game and not prevent_refresh %}
      var socket = io.connect('http://' + document.domain + ':' + location.port);

      socket.on('connect', function(){
        socket.emit('joining_game', {
          room: 'salad-bowl-game-' + '{{ game.id }}',
        })
      })

      socket.on('refresh', function(msg){
        if (!$('#modal').is(':visible')){
            location.reload();
        }
      })
    {% endif %}
  </script>

{% endblock %}
