{% extends "base.html" %}

{% block content %}
    <div class="m-5">
        <div class="row">
            <div class="col">
                <h4>Salad Bowl Game Center</h4>
            </div>
            <div class="col">
                <a class="btn btn-primary float-right" data-modal-url="/yummy/create_player/" href='#'>
                    Create Player
                </a>
            </div>
        </div>
        {% block salad_bowl_content %}{% endblock %}
    </div>
{% endblock %}

{% block nav_bar_right %}
    {% if g.current_player %}
        <div class="text-white">
            Welcome, {{ g.current_player.name}}
        </div>
    {% endif %}
{% endblock %}
