{% extends "salad_bowl/base.html" %}

{% block salad_bowl_content %}
    <div class="pt-3">
    	{% if not word %}
	    	<div class="row">
	    		<div class="col">
			        <h3 class="text-truncate">{{ game.name }} > Round {{ game_round.round_number }} > {{ turn.player.name }}</h3>
			    </div>
			</div>
		{% endif %}

		<div class="row">
			<div class="col col-lg-6 offset-lg-3 pt-3 text-center">
				Seconds remaining: 
				<div id="seconds-remaining" 
					{% if seconds_remaining < 15 %}class="text-danger"{% endif %}
					style="font-size: {% if word %}60{% else %}100{% endif %}px;">
					{{ seconds_remaining }}
				</div>
	            {% if word %}
	            	Your word:
	            	<div style="font-size: 60px;">{{ word.word }}</div>
		            <div class="pt-2">
		            	<form method="POST" id="got-it-form" action="{{ url_for('salad_bowl.word_guessed', game_id=game.id, round_id=game_round.id, turn_id=turn.id) }}">
		            		{{ word_guessed_form.hidden_tag() }}
		            		{{ word_guessed_form.word_id() }}
			              	<button type="submit" id="guess-word-btn" class="btn btn-primary btn-block">
			                    <div class="py-2">Got it!</div>
			                </button>
			            </form>

			            <form method="POST" class="d-none" id="end-turn-form" action="{{ url_for('salad_bowl.end_turn', game_id=game.id, round_id=game_round.id, turn_id=turn.id) }}">
		            		{{ end_turn_form.hidden_tag() }}
			              	<button type="submit"></button>
			            </form>
		            </div>
	            {% endif %}
	        </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script>
		var secondsRemaining =  parseInt('{{ seconds_remaining }}'),
			$gotItForm = $('#got-it-form'),
			$secondsDisplay = $('#seconds-remaining'),
			$endTurnForm = $('#end-turn-form'),
	    	$guessWordBtn = $('#guess-word-btn');

	    $gotItForm.submit(function(evt){
	    	$guessWordBtn.attr("disabled", true);
	    });

	    setInterval(function () {
	        secondsRemaining--;
	    	if (secondsRemaining < 15){
	    		$secondsDisplay.addClass('text-danger');
	    	}
	        $secondsDisplay.text(secondsRemaining);

	        {% if word %}
		        if (secondsRemaining < -2){
		        	endTurn();
		        }
	        {% endif %}

    	}, 1000);

    	function endTurn(){
    		$guessWordBtn.attr("disabled", true);
    		$endTurnForm.submit();
    	}
	</script>
{% endblock %}