{% extends "modal.html" %}

{% block modal_title %}Create Game{% endblock %}

{% block modal_body %}
    <div>
	    {{ form.name.label }} 
	    {{ form.name(size=20) }}
	</div>
    <div>
	    {{ form.words_per_player.label }} 
	    {{ form.words_per_player(size=20) }}
	</div>    
	<div>
	    {{ form.number_of_rounds.label }} 
	    {{ form.number_of_rounds(size=20) }}
	</div>    
	<div>
	    {{ form.seconds_per_turn.label }} 
	    {{ form.seconds_per_turn(size=20) }}
	</div>
{% endblock %}

{% block submit_btn %}Create Game{% endblock %}