{% extends "modal.html" %}

{% block modal_title %}Add Facet{% endblock %}

{% block modal_body %}
  <div class="row">
    <div class="col col-5">
        {{ form.label.label }}
    </div>
    <div class="col">
      {{ form.label(size=20, class="w-100") }}
    </div>
  </div>
  <div class="row">
    <div class="col col-5">
        {{ form.short_label.label }}
    </div>
    <div class="col">
      {{ form.short_label(size=20, class="w-100") }}
    </div>
  </div>
  <div class="row">
    <div class="col col-5">
        {{ form.description.label }}
    </div>
    <div class="col">
      {{ form.description(size=20, class="w-100") }}
    </div>
  </div>
  <div class="row">
    <div class="col col-5">
        {{ form.facet_type.label }}
    </div>
    <div class="col">
      {{ form.facet_type(class="w-100") }}
    </div>
  </div>
  <div class="row">
    <div class="col col-5">
        {{ form.rank.label }}
    </div>
    <div class="col">
      {{ form.rank(size=20, class="w-100") }}
    </div>
  </div>
{% endblock %}

{% block submit_btn %}Add Facet{% endblock %}

