{% extends "modal.html" %}

{% block modal_title %}{{ facet.label }}{% endblock %}

{% block modal_body %}
  {{ facet.description }}
  {% if facet.facet_type == enums.GuessingGameFacetType.ENUM %}
    <div class="mt-2">
      <div>Possible values:</div>
      <ul>
        {% for option in facet.options %}
          <li>{{option.value}}</li>
        {% endfor %}
      </ul>
    </div>
  {% elif facet.facet_type == enums.GuessingGameFacetType.INTEGER %}
    {% set degrees_of_closeness_property = facet.properties | selectattr('property_type', 'equalto', enums.GuessingGameFacetPropertyType.DEGREES_OF_CLOSENESS) | first %}
    {% if degrees_of_closeness_property %}
      <div class="mt-2">
        Previous guesses will be marked as "close" if the value is within {{ degrees_of_closeness_property.int_val }} of the mystery entity
      </div>
    {% endif %}
{% endif %}
{% endblock %}

{% block cta_btn %}{% endblock %}
{% block cancel_btn_text %}Close{% endblock %}
