{% extends "modal.html" %}

{% block modal_title %}New Game{% endblock %}

{% block modal_body %}
  <div class="row">
    <div class="col col-5">
        {{ form.name.label }}
    </div>
    <div class="col">
      {{ form.name(size=20, class="w-100") }}
    </div>
  </div>
  <div class="row">
    <div class="col col-5">
        {{ form.entry_code.label }}
    </div>
    <div class="col">
      {{ form.entry_code(size=20, class="w-100") }}
    </div>
  </div>
{% endblock %}

{% block submit_btn %}Create Game{% endblock %}

