{% macro render_input_field(field) %}
  <div class="row align-items-center mb-1">
    <div class="col col-5">
        {{ field.label }}*
    </div>
    <div class="col">
      {{ field(size=20, class="w-100 form-control") }}
    </div>
  </div>
{% endmacro %}

{% macro render_passcode_field(field) %}
  <div class="row no-gutters ">
    <input type="text" id="pincode-input-{{field.id}}">
    <div class="d-none">
      {{ field }}
    </div>
  </div>

  <script>
    $('#pincode-input-{{field.id}}').pincodeInput({
      inputs:'{{ field.validators | selectattr("min", "defined") | first | attr("min") }}',
      complete: (value) => {$('#{{field.id}}').val(value);},
      change: () => {$('#{{field.id}}').val('');}
    });
  </script>
{% endmacro %}
