<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://use.fontawesome.com/3b113e0d3f.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <title>{% block title %}Eric's World{% endblock %}</title>
</head>
<body class="bg-light">
  {% block nav_bar %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand d-none d-md-block" href="/">Eric's Wacky World of Fun</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsible-nav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('salad_bowl.games') }}">Salad Bowl</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Liar Liar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">CT Market</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="nav-dropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->
        </ul>
      </div>
      {% block nav_bar_right %}
      {% endblock %}
    </nav>
  {% endblock nav_bar %}
  <div class="container">
    {% block content %}
    sdfsdffs{% endblock %}

    <div class="modal fade" id="modal" role="dialog" data-backdrop="static" data-keyboard="false">
    </div>
      
  </div>

  <div id="footer">
    {% block footer %}
    {% endblock %}
  </div>


  {% block scripts %}
    <script>
      $(document).on('click', '[data-modal-url]', function(evt){
        var $target = $(evt.currentTarget);

        console.log($target.data('modalUrl'))

        $.get($target.data('modalUrl'), function(data){
          var $modal = $('#modal');

          $modal.html(data);
          $('#modal').modal('show');

          console.log(data);
        })
      })

      var currentUrl = $(location).attr('href');
      $("a.nav-link:not('.disabled')").each(function(i, el){
        var $el = $(el);

        if ($el.attr('href') && currentUrl.includes($el.attr('href'))){
          $el.parent('.nav-item').addClass('active')
        }
      })

    </script>

  {% endblock %}

</body>