<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://use.fontawesome.com/3b113e0d3f.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

  <title>{% block title %}Eric's World{% endblock %}</title>
</head>
<body class="bg-light">
  {% block nav_bar %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand d-none d-md-block" href="/">Eric's Wacky World of Fun</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsible-nav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('subpage.home') }}">Subpage</a>
          </li>
        </ul>
      </div>
      {% block nav_bar_right %}
        {% if g.current_user %}
          <div class="text-white">
            <img src="/static/img/investigator_murray.jpg" class="img-fluid rounded-circle" style="width:40px;height: 40px;">
            <span class="align-middle">
              {{ g.current_user.name}}
            </span>
          </div>
        {% else %}
          <div>
            <a class="btn btn-primary float-right" data-modal-url="/sign-up/" href='#'>
              Sign Up
            </a>
          </div>
        {% endif %}
      {% endblock %}
    </nav>
  {% endblock nav_bar %}
  <div class="container">
    {% block content %}
    sdfsdffs{% endblock %}

    <div class="modal fade" id="modal" role="dialog" data-backdrop="static" data-keyboard="false">
    </div>
  </div>

  <div id="footer">
    {% block footer %}
    {% endblock %}
  </div>


  {% block scripts %}
    <script>
      $(document).on('click', '[data-modal-url]', function(evt){
        var $target = $(evt.currentTarget);

        $.get($target.data('modalUrl'), function(data){
          var $modal = $('#modal');

          $modal.html(data);
          $('#modal').modal('show');

        })
      })

      var currentUrl = $(location).attr('href');
      $("a.nav-link:not('.disabled')").each(function(i, el){
        var $el = $(el);

        if ($el.attr('href') && currentUrl.includes($el.attr('href'))){
          $el.parent('.nav-item').addClass('active')
        }
      })

    </script>

  {% endblock %}

</body>
