<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://use.fontawesome.com/3b113e0d3f.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.2/underscore-min.js"></script>

  <title>{% block title %}Eric's World{% endblock %}</title>
</head>
<body class="bg-light">
  {% block nav_bar %}
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">Eric's Wacky World of Fun</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('guessing-game.home') }}">Guessing Game</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if g.current_user %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ g.current_user.name }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('main.log_out') }}">Log Out</a>
            </div>
          </li>
        {% else %}
          <div class="d-none d-sm-flex">
            <li class="nav-item mr-3">
              <a class="btn btn-primary" data-modal-url="{{ url_for('main.sign_in') }}" href='#'>
                Sign In
              </a>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary" data-modal-url="{{ url_for('main.sign_up') }}" href='#'>
                Sign Up
              </a>
            </li>
          </div>
          <div class="d-sm-none">
            <li class="nav-item">
              <a class="nav-link" data-modal-url="{{ url_for('main.sign_in') }}" href='#'>
                Sign In
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-modal-url="{{ url_for('main.sign_up') }}" href='#'>
                Sign Up
              </a>
            </li>
          </div>
        {% endif %}
      </ul>
    </div>
  </nav>

  {% endblock nav_bar %}
  <div class="container">
    {% block content %}{% endblock %}

    <div class="modal fade" id="modal" role="dialog" data-backdrop="static" data-keyboard="false">
    </div>
  </div>

  <div id="footer">
    {% block footer %}
    {% endblock %}
  </div>


  {% block scripts %}
    <script>
      $(document).on('click', '[data-modal-url]', function(evt){
        var $target = $(evt.currentTarget);

        $.get($target.data('modalUrl'), function(data){
          var $modal = $('#modal');

          $modal.html(data);
          $('#modal').modal('show');

        })
      })

      var currentUrl = $(location).attr('href');
      $("a.nav-link:not('.disabled')").each(function(i, el){
        var $el = $(el);

        if ($el.attr('href') && currentUrl.includes($el.attr('href'))){
          $el.parent('.nav-item').addClass('active')
        }
      })

    </script>

  {% endblock %}

  {% block style %}
  {% endblock %}

  {% assets "js_all" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}"></link>
  {% endassets %}

</body>
