{% extends "base.html" %}

{% block content %}
	<div class="jumbotron text-center bg-white">
        <div class="container">
            <img src="static/img/investigator_murray.jpg" class="img-fluid rounded-circle" alt="NYC" style="width:204px;height: 204px;">
            <h1 class="jumbotron-heading">Welcome to my Dojo</h1>
            <p class="lead text-muted">Here is a haiku that I wrote:</p>
            <div>Cats don't go to work</div>
            <div>Cats just sleep around all day</div>
            <div>We should all be cats.</div>
        </div>
    </div>
{% endblock %}
