<div class="i-am-a-modal">
  {% if form %}
    <form method="POST" action="{{ action_url }}" autocomplete="off">
    {{ form.hidden_tag() }}
  {% endif %}
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{% block modal_title %}{% endblock %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% block modal_body %}

          {% endblock %}
          {% block form_errors %}
            <div class="row mt-3">
              <div class="col text-right text-danger">
                {% if error_msg %}
                  {{ error_msg }}
                {% endif %}
              </div>
            </div>
          {% endblock %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% block cancel_btn_text %}Cancel{% endblock %}</button>
          {% block cta_btn %}
            <button type="submit" class="btn {% block submit_btn_class %}btn-primary{% endblock %}">{% block submit_btn %}Save{% endblock %}</button>
          {% endblock %}
        </div>
      </div>
    </div>
  {% if form %}</form>{% endif %}

  {% block scripts %}
    <script>
      {% if form %}
        $('.modal form').submit((evt) => {
          const $form = $(evt.target)
          evt.preventDefault()
          evt.stopPropagation();

          let formData = {};
          $form.serializeArray().forEach(element => {
            formData[element.name] = element.value;
          })

          $.post(evt.target.action, formData, (resp, textStatus, xhr) => {
            const $resp = $(resp);
            if (xhr.responseJSON?.next_url){
              window.location = xhr.responseJSON.next_url;
            } else if ($resp.hasClass('i-am-a-modal')){
              $('.i-am-a-modal').replaceWith($resp);
            }
          })
        })
      {% endif %}
    </script>
  {% endblock scripts %}

  {% block style %}{% endblock style %}
</div>
